.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cls-1 {
  fill: #c7c7c6;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-39, .cls-40, .cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-46, .cls-47, .cls-48, .cls-49, .cls-50, .cls-51, .cls-52, .cls-53, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60, .cls-61, .cls-62, .cls-63, .cls-64, .cls-65, .cls-66, .cls-67, .cls-68, .cls-69, .cls-70, .cls-71, .cls-72, .cls-73, .cls-74, .cls-75, .cls-76, .cls-77, .cls-78, .cls-79, .cls-80, .cls-81, .cls-82, .cls-83, .cls-84, .cls-85, .cls-86, .cls-87, .cls-88, .cls-89, .cls-90, .cls-91, .cls-92, .cls-93, .cls-94, .cls-95, .cls-96, .cls-97, .cls-98, .cls-99, .cls-100, .cls-101, .cls-102, .cls-103, .cls-104, .cls-105, .cls-106, .cls-107, .cls-108, .cls-109, .cls-110, .cls-111, .cls-112, .cls-113, .cls-114, .cls-115, .cls-116, .cls-117, .cls-118, .cls-119, .cls-120, .cls-121, .cls-122, .cls-123, .cls-124, .cls-125, .cls-126, .cls-127, .cls-128, .cls-129, .cls-130, .cls-131, .cls-132, .cls-133, .cls-134, .cls-135, .cls-136, .cls-137, .cls-138, .cls-139, .cls-140, .cls-141 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #dedddd;
}

.cls-3 {
  fill: #e4e4e4;
}

.cls-4 {
  fill: #bdbdbd;
}

.cls-5 {
  fill: #b6b6b6;
}

.cls-6 {
  fill: #dfdede;
}

.cls-7 {
  fill: #c1c1c1;
}

.cls-8 {
  fill: #cdcdcd;
}

.cls-9 {
  fill: #cecdcd;
}

.cls-10 {
  fill: #d2d3d2;
}

.cls-11 {
  fill: #e3e3e2;
}

.cls-12 {
  fill: #dad9d8;
}

.cls-13 {
  fill: #dcdcdc;
}

.cls-14 {
  fill: #e0e1e0;
}

.cls-15 {
  fill: #d5d5d4;
}

.cls-16 {
  fill: #b2b2b2;
}

.cls-17 {
  fill: #d2d2d1;
}

.cls-18 {
  fill: #cbcaca;
}

.cls-19 {
  fill: #c8c8c8;
}

.cls-20 {
  fill: #dbdbda;
}

.cls-21 {
  fill: #dcdcdb;
}

.cls-22 {
  fill: #d4d5d4;
}

.cls-23 {
  fill: #e1e1e0;
}

.cls-24 {
  fill: #d1d2d1;
}

.cls-25 {
  fill: #e1e1e1;
}

.cls-26 {
  fill: #e8e7e7;
}

.cls-27 {
  fill: #bababa;
}

.cls-28 {
  fill: #cacac9;
}

.cls-29 {
  fill: #cdcdcc;
}

.cls-30 {
  fill: #c8c8c7;
}

.cls-31 {
  fill: #e5e5e5;
}

.cls-32 {
  fill: #e0e0df;
}

.cls-142 {
  font-size: 90px;
}

.cls-142, .cls-143 {
  fill: #231f20;
  font-family: Hombre, Hombre;
}

.cls-33 {
  fill: #d1d1d0;
}

.cls-34 {
  fill: #e3e3e3;
}

.cls-35 {
  fill: #e0e0e0;
}

.cls-36 {
  fill: #dededd;
}

.cls-37 {
  fill: #cfcfce;
}

.cls-38 {
  fill: #d4d4d3;
}

.cls-39 {
  fill: #c2c2c2;
}

.cls-40 {
  fill: #dadad9;
}

.cls-41 {
  fill: #c4c4c4;
}

.cls-42 {
  fill: #d6d5d5;
}

.cls-43 {
  fill: #e6e6e5;
}

.cls-44 {
  fill: #c3c2c2;
}

.cls-45 {
  fill: #dcdbda;
}

.cls-144 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

.cls-46 {
  fill: #b7b7b7;
}

.cls-47 {
  fill: #c1c1c0;
}

.cls-48 {
  fill: #c9c9c8;
}

.cls-49 {
  fill: #dfdfdf;
}

.cls-50 {
  fill: #d4d3d3;
}

.cls-51 {
  fill: #aeaeae;
}

.cls-52 {
  fill: #d0d1d0;
}

.cls-53 {
  fill: #e9e9e9;
}

.cls-54 {
  fill: #ddd;
}

.cls-55 {
  fill: #c7c7c7;
}

.cls-56 {
  fill: #c9c8c8;
}

.cls-57 {
  fill: #d7d6d6;
}

.cls-58 {
  fill: #b3b3b3;
}

.cls-59 {
  fill: #d8d8d7;
}

.cls-60 {
  fill: #b9b9b9;
}

.cls-61 {
  fill: #cccccb;
}

.cls-62 {
  fill: #bfbfbf;
}

.cls-63 {
  fill: #d2d2d2;
}

.cls-64 {
  fill: #d0d0cf;
}

.cls-65 {
  fill: #d5d4d4;
}

.cls-66 {
  fill: #bfbebe;
}

.cls-67 {
  fill: #b2b2b3;
}

.cls-68 {
  fill: #e7e7e7;
}

.cls-69 {
  fill: #c3975f;
}

.cls-70 {
  fill: #ccc;
}

.cls-71 {
  fill: #dfdfde;
}

.cls-72 {
  fill: #cdcccc;
}

.cls-73 {
  fill: #bebebe;
}

.cls-74 {
  fill: #dddcdc;
}

.cls-75 {
  fill: #dadada;
}

.cls-76 {
  fill: #bfbfbe;
}

.cls-77 {
  fill: #e2e2e1;
}

.cls-78 {
  fill: #fff;
}

.cls-79 {
  fill: #bcbbbc;
}

.cls-80 {
  fill: #d4d4d4;
}

.cls-81 {
  fill: #dcdbdb;
}

.cls-82 {
  fill: #e4e4e3;
}

.cls-83 {
  fill: #d6d6d5;
}

.cls-84 {
  fill: #c3c3c2;
}

.cls-85 {
  fill: #cbcbca;
}

.cls-86 {
  fill: #d5d5d5;
}

.cls-87 {
  fill: #dedede;
}

.cls-88 {
  fill: #c7c6c6;
}

.cls-89 {
  fill: #e2e2e2;
}

.cls-90 {
  fill: #d3d3d3;
}

.cls-91 {
  fill: #cccbcb;
}

.cls-92 {
  fill: #c8c7c7;
}

.cls-93 {
  fill: #cdcecd;
}

.cls-94 {
  fill: #dddddc;
}

.cls-95 {
  fill: #cbcbcb;
}

.cls-96 {
  fill: #bcbcbc;
}

.cls-97 {
  fill: #d1d1d1;
}

.cls-98 {
  fill: #b5b5b5;
}

.cls-99 {
  fill: #c3c3c3;
}

.cls-100 {
  fill: #e2e3e2;
}

.cls-101 {
  fill: #d3d3d2;
}

.cls-102 {
  fill: #d9d9d9;
}

.cls-103 {
  fill: #e5e5e4;
}

.cls-104 {
  fill: #e0dfdf;
}

.cls-105 {
  fill: #c2c1c1;
}

.cls-106 {
  fill: #cfd0cf;
}

.cls-107 {
  fill: #c5c4c4;
}

.cls-108 {
  fill: #c6c5c5;
}

.cls-109 {
  fill: #cccdcc;
}

.cls-110 {
  fill: silver;
}

.cls-111 {
  fill: #dbdbdb;
}

.cls-112 {
  fill: #bebdbd;
}

.cls-113 {
  fill: #c6c6c6;
}

.cls-114 {
  fill: #c5c5c5;
}

.cls-115 {
  fill: #d7d7d7;
}

.cls-116 {
  fill: #d0d0d0;
}

.cls-117 {
  fill: #dfe0df;
}

.cls-118 {
  fill: #d7d7d6;
}

.cls-119 {
  fill: #d6d6d6;
}

.cls-120 {
  fill: #cfcfcf;
}

.cls-145 {
  mask: url(#mask);
}

.cls-121 {
  fill: #e8e8e8;
}

.cls-122 {
  fill: #c4c3c3;
}

.cls-123 {
  fill: #c9c9c9;
}

.cls-124 {
  fill: #d8d7d7;
}

.cls-125 {
  fill: #d9d8d8;
}

.cls-126 {
  fill: #cacaca;
}

.cls-127 {
  fill: #e1e2e1;
}

.cls-143 {
  font-size: 48px;
  text-align: center;
}

.cls-128 {
  fill: #d9d9d8;
}

.cls-129 {
  fill: #e4e5e4;
}

.cls-130 {
  fill: #e7e7e6;
}

.cls-131 {
  fill: #e9e9e8;
}

.cls-132 {
  fill: #eaeaea;
}

.cls-133 {
  fill: #cecece;
}

.cls-134 {
  fill: #c1c0c0;
}

.cls-135 {
  fill: #dad9d9;
}

.cls-136 {
  fill: #c4c4c3;
}

.cls-137 {
  fill: #cececd;
}

.cls-138 {
  fill: #d8d8d8;
}

.cls-139 {
  fill: #cac9c9;
}

.cls-140 {
  fill: #c0bfbf;
}

.cls-141 {
  fill: #dbdada;
}

.strikediag {
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}
